
Half-life calculations/.ipynb_checkpoints/0nudecays-checkpoint.ipynb
Half-life calculations/.ipynb_checkpoints/2nudecays-checkpoint.ipynb
Half-life calculations/.ipynb_checkpoints/Paper calculations-checkpoint.ipynb
analysis_LRSymmetricConstraints/.ipynb_checkpoints/New physics constraints from Xe124 decay-checkpoint.ipynb
analysis_DECsim/.ipynb_checkpoints/Plots_DECSim_Paper_20191208-checkpoint.ipynb
analysis_DECsim/.ipynb_checkpoints/Plots_DECSim_Paper_20191208-checkpoint.ipynb
analysis_LRSymmetricConstraints/.ipynb_checkpoints/New physics constraints from Xe124 decay-checkpoint.ipynb
